<scroll-container class="center">
<div class="secondNavBar">
    <form name="reloadForm" action="/reload" method="GET" enctype="multipart/form-data">
        <button id="reloadButton" type="submit" class="btn btn-outline-primary secondNavBarButton">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
              </svg>
        </button>
        <input type="hidden" name="filePath" value="<%= filest.path %>"></li>
    </form>

    <form action="/upDirectory" method="GET" enctype="multipart/form-data">
        <button id="backDirectoryButton" type="submit" class="btn btn-outline-primary secondNavBarButton">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 10a.5.5 0 0 0 .5-.5V3.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 3.707V9.5a.5.5 0 0 0 .5.5zm-7 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5z"/>
              </svg>
        </button>
        <input type="hidden" name="filePath" value="<%= filest.path %>"></li>
        
    </form>
    <div class="route">
        <p ><%= filest.path %></p>
    </div>
    
    </div>
    <div>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" style="text-align: center;">Name</th>
                    <th scope="col" style="text-align: center;">Type</th>
                    <th scope="col" style="text-align: center;">Extension</th>
                    <th scope="col" style="text-align: center;">Size</th>
                    <th scope="col" style="text-align: center;"></th>
                    <th scope="col" style="text-align: center;"></th>
                    <th scope="col" style="text-align: center;"></th>
                    <th scope="col" style="text-align: center;"></th>
                </tr>
            </thead>
        <% 
            if (filest!="" ){
                function repreTree2 (elem, count){

                    %>
                    <td style="text-align: center;"><%=elem.name%></td>
                    <td style="text-align: center;"><%=elem.type%></td>
                    <td style="text-align: center;"><%=elem.extension%></td>
                    <td style="text-align: center;"><%=elem.size%></td>
                    <%
                    if (elem.type == 'directory'){
                        %>
                            <td><form action="/getDirectory" method="GET" enctype="multipart/form-data">
                                <button type="submit" class="btn btn-outline-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"></path>
                                    <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"></path>
                                    </svg>
                                </button>
                            <input type="hidden" name="filePath" value="<%= elem.path %>"></li>
                                </form ></td>
                            <td>
                                <form action="/upload" method="POST" enctype="multipart/form-data" class="was-validated">
                                    <button type="submit" class="btn btn-outline-success">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                                            </svg>
                                        </button>                               

                                        <input type="file"  name="file" required>

        
                                        
                                    <input type="hidden" name="filePath" value="<%= elem.path %>"></li>
                                </form>    
                            </td>
                            <td>
                                <form action="/deleteDirectory" method="GET" enctype="multipart/form-data">
                                    <button type="submit" class="btn btn-outline-danger">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder-minus" viewBox="0 0 16 16">
                                    <path d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z"></path>
                                    <path d="M11 11.5a.5.5 0 0 1 .5-.5h4a.5.5 0 1 1 0 1h-4a.5.5 0 0 1-.5-.5z"></path>
                                    </svg>
                                    </button>    
                                    <input type="hidden" name="filePath" value="<%= elem.path %>"></li>
                                </form>
                            </td>
                            <td>
                                <form action="/createNewDir" method="GET" enctype="multipart/form-data">
                                        <div class="input-group w-50">
                                            <button type="submit" class="btn btn-outline-success" >
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder-plus" viewBox="0 0 16 16">
                                            <path d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z"/>
                                            <path d="M13.5 10a.5.5 0 0 1 .5.5V12h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V13h-1.5a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z"/>
                                            </svg>
                                        </button>
                                        <input name="newName" type="text" class="form-control" placeholder="Name*" aria-label="Input group example" aria-describedby="basic-addon1">
                                         </div>

                                    <input type="hidden" name="newfilePath" value="<%= elem.path %>"></li>
                                </form>    
                            </td>
                        <%

                        if (count ==  0&& elem.children.length > 0){
                        count++;
                        for (var i = 0; i< elem.children.length; i++){
                            %><tr><%repreTree2(elem.children[i], count);%></tr><%
                        }
                    }
                }else{
                    
                    %>
                        <td>
                            <form action="/" method="GET" enctype="multipart/form-data">
                                <button type="submit" class="btn btn-outline-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"></path>
                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"></path>
                                    </svg>
                                </button>
                            </form>    
                        </td>
                        <td>
                            <form action="/download" method="GET" enctype="multipart/form-data">
                                <button type="submit" class="btn btn-outline-success">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"></path>
                                    </svg>
                                    </button>
                                <input type="hidden" name="filePath" value="<%= elem.path %>"></li> 
                            </form>    
                        </td>
                        <td>
                            <form action="/deleteFile" method="GET" enctype="multipart/form-data">
                                <button type="submit" class="btn btn-outline-danger">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-x" viewBox="0 0 16 16">
                                    <path d="M6.146 6.146a.5.5 0 0 1 .708 0L8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 0 1 0-.708z"/>
                                    <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
                                    </svg>
                                </button> 
                                <input type="hidden" name="filePath" value="<%= elem.path %>"></li>   
                            </form>
                        </td>
                        <td>
                        </td>
                    <%
                } 
            }
            repreTree2(filest, 0);
                
            }    
            %>
        </table>
    </div>
</scroll-container>
